@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "LeMondeLivre";
	src: url("../fonts/LeMondeLivre-BoldSC.otf");
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
	font-family: "OpenSansNormal";
	src: url("../fonts/OpenSans-Regular.ttf");
}

@layer utilities {
	.margin-social {
		margin-top: 1.7rem !important;
		width: 217px;
		margin: auto;
	}
	.preview-text {
      display: -webkit-box;
	  /* -webkit-line-clamp: 3; */
	  height: 4.3rem;
	  /* -webkit-box-orient: vertical; */
	  overflow: scroll;
	}
	.box-shadow-inset {
		box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, inset rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	}
	.border_paiment {
		padding-top: 1rem;
		border-top: 1.5px solid #7d7d7d5e;
		border-bottom: 1.5px dashed #7d7d7d5e;
		padding-bottom: 1rem;
	}
	.swiper-style {
		overflow: unset !important;
	}
	.overflow-unset {
		overflow: hidden;
		overflow-y: hidden
	}
	.upload-img {
		display: inline-block;
		background-image: url('./images/upload.png');
		cursor:pointer;
		border: none;
		background-repeat: no-repeat;
        background-position: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin: auto;
	}
	::file-selector-button {
		display: none;
	}	
	::-webkit-file-upload-button {
		display: none;
	 }  
	input[type='file'] {
	color: transparent;
	}
	.button-inner {
		max-width: 51px;
		min-width: 51px;
	}

	/* loader */
	.loder .pulsar {
		--uib-size: 60px;
		--uib-speed: 1.5s;
		--uib-color: white;
	  
		position: relative;
		height: var(--uib-size);
		width: var(--uib-size);
	  }
	  
	  .loder .pulsar::before,
	  .loder .pulsar::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		background-color: var(--uib-color);
		animation: pulser var(--uib-speed) ease-in-out infinite;
		transform: scale(0);
	  }
	  
	  .loder .pulsar::after {
		animation-delay: calc(var(--uib-speed) / -2);
	  }
	  
	  @keyframes pulser {
		0%,
		100% {
		  transform: scale(0);
		  opacity: 1;
		}
		50% {
		  transform: scale(1);
		  opacity: 0.25;
		}
	  }

	.text-white-important {
		color: white
	}
	 /* @media (min-width: 426px) {
		#wrapper {
			visibility: hidden;
			background-image: url('./images/error.svg') !important;
			background: black;
			z-index: -1
		}
		.error {
			display: block;
		}
	 } */
	 
}
